<h1>All stories</h1>

<h2>Sort by category</h2>


<ul>
  <% @categories.each do |category| %>
      <% @stories.each do |story| %>
      <li>  <%= link_to story.heading, category_story_path(category, story) %> </li>
      <% end %>
  <% end %>


</ul>
