/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*General page elements*/
.logo {
  text-align: center
}

body { 
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #383737;
  background: #7c7c7c;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #383737;
  line-height: 28px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #383737;
  line-height: 20px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #383737;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #614910;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  padding:3px;
}

small {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #383737;
  padding: 0;
  margin: 0;
}
.content {
  background-color: #cccccc;
  text-align: left;
  margin: 0 20%;
  padding: 10px;
}

.story_image {
  margin: auto;
  width: 300px;
}

.story_image img {
  width: 100%;
  height: auto;
}

/*a normal, unvisited link*/
a:link {
  text-decoration: none;
  color: #668E39;
}

/*a link the user has visited*/
a:visited {
  text-decoration: none;
  color: #96B566;
}

/*a link when the user mouses over it*/
a:hover {
  text-decoration: none;
  color: #F6FF97;
}

.categories {
  display: inline-block;
  margin: 0 15%;
}

.category_icon {
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.story_actions {
  display: inline;
}

.profile {
  text-align: center;
}

.profile h4 {
  text-align: center;
}

.profile li {
  list-style-type: none;
}

/*Navigation elements*/
.nav_bar {
  background-color: #cccccc;
  margin: 0;
  padding: 0;
}

.menu a{
  font-family: 'Oswald', sans-serif;
  color: #47392c;
  background-color: #cccccc;
  text-decoration: none;
}

.menu a:hover {
  background-color: #d3dac8;
}

.menu {
  text-align: center;
  margin-top: 10px;
}

.menu li {
  display: inline;
  list-style-type: none;
  padding: 20px;
}

.menu h1 {
  display: inline;
}
/*end of nav_bar*/



 