/*General page elements*/
.logo {
  text-align: center
}

body { 
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #383737;
  background: #7c7c7c;
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #383737;
  line-height: 28px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #383737;
  line-height: 20px;
}

.content {
  margin: 0 40%;
}

/*Navigation elements*/
.nav_bar {
  background-color: #cccccc;
  margin: 0;
  padding: 0;
}

.menu a{
  font-family: 'Oswald', sans-serif;
  color: #47392c;
  background-color: #cccccc;
  text-decoration: none;
}

.menu a:hover {
  background-color: #d3dac8;
}

.menu {
  text-align: center;
  margin-top: 10px;
}

.menu li {
  display: inline;
  list-style-type: none;
  padding: 20px;
}

.menu h1 {
  display: inline;
}
/*end of nav_bar*/

