<header>
	<h1>L.I.F.E</h1>
</header>
    
<div class="main-gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>

    <div class="gallery-cell">
        <img src="http://farm8.staticflickr.com/7655/17236776735_4cef09f749_b.jpg" alt="working"/></div>
    
    <div class="gallery-cell">
      <img src="https://farm6.staticflickr.com/5322/17210819296_36f2e3cbf0_b.jpg" alt="volunteer"/>
    </div>

    <div class="gallery-cell">
      <img src="https://farm9.staticflickr.com/8746/17210819256_b28263fc6f_b.jpg" alt="Montessori"/>
    </div>

    <div class="gallery-cell">
      <img src="https://farm6.staticflickr.com/5321/17236220151_789b250bee_b.jpg" alt="friendly volunteers"/>
    </div>

    <div class="gallery-cell">
      <img src="https://farm8.staticflickr.com/7590/17049229930_41d77a9f12_b.jpg" alt="backpacking"/>
    </div>
</div>

<blockquote>
    Not all classrooms have four walls.  Sometimes the most valuable learning experiences come from the least expected places.
</blockquote>
        
<footer>
    <p class="copyright">team nine</p>  
</footer>

