<h1><%= @category.name %></h1>

<ul>
 <% @category.stories.each do |story| %>
 <li>  <%= link_to story.heading, story_path(story) %> </li>
 <% end %>
</ul>

<h3> Learn more </h3>
<small>(Links to outside pages)</small>

<ul>

 <% counter = 0 %>
 <% while counter < @links.length %>
     <li>
       <a href="<%= @links[counter][:link] %>" target="_blank"><%="#{@links[counter][:site]}" %></a>
     </li>
   <% counter += 1 %>
 <% end %>
</ul>
