<!DOCTYPE html>
<html>

<head>
  
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "flickity" %>
  <title>L.I.F.E.</title>
  
</head>

<body>

	<%= yield %>

</body>
</html>